@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

.containe {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-image: url('https://images.unsplash.com/photo-1580974928064-f0aeef70895a?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW9iaWxlJTIwc3RvcmV8ZW58MHx8MHx8fDA%3D');
	background-position: center;
	background-size: cover;
}

.screen {		
    background: linear-gradient(90deg, #cab189ad, #cab189b3);
	position: relative;	
	height: 100%;
	width: 360px;	
	/* box-shadow: 0px 0px 24px #5C5696; */
}
@media(max-width:400px){
	.screen{
		width: 300px;
	}
	.login__submit{
		width: 85% !important;
	}
}

@media (max-width:670px){
	.icon{
		display: none !important;
	}
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.login {
	padding: 30px;
	/* padding-top: 90px; */
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: black;
}

.login__input {
	border: none;
	border-bottom: 2px solid #383846;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	transition: .2s;
	width: 100%;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	cursor: pointer;
	outline: none;
	/* border-bottom-color: #6A679E; */
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #7B836D;
	box-shadow: 0px 2px 2px #7B836D;
	cursor: pointer;
	transition: .2s;
}

::-webkit-input-placeholder {
	color: rgba(46, 46, 46, 0.838);
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7B836D;
}

.error-message{
    color: red;
}
