<div class="w-full h-screen grid place-items-center fixed top-0 backdrop-blur z-50">
    <div class="confirmBox w-[350px] py-3 px-2 rounded-lg bg-[#e8e2e2b5] flex flex-col items-center justify-center space-y-4">
        <h1 class="confirm font-serif flex items-center font-bold gap-1  text-[25px]">Success <img class="w-[40px]" src="/assets/images/success.png" alt=""></h1>
        <h1 class="confirmMessage font-serif text-center">{{message}}</h1>
        <h1 class="text-center w-[80%]" (click)="Done()"><button>Done</button>  </h1>
    </div>
</div>